*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    
}
header{

    margin: 10px ;
    width: 98%;
    height: 150px;
    background: rgb(207, 207, 207);
    display: ruby-text;
}

#nusuario{
    margin-left: 40%;
}
#nusuario1{
    margin-left: 37%;
}
#s_select{
    margin-left: 3%;
}
#s_disp{
    margin-left: 37%;
}
li{
    list-style: none;
}

#listaservicios2{
    position: absolute;
    left: 48.5%;
    width: 11%;
    top: 27%;
    height: auto;
    background: rgb(207, 207, 207);
    border-radius: 10px;
    /* text-align: center; */
    font-size: smaller;
}

header ul{
    position: relative;
    top: 50px;
    left: 85%;
}
a{
    text-decoration: none;
}
#serviciosss{
    display: flex;
}

header ul li{
    padding: 2px;
    display: inline;
    margin-inline: 10px;
    margin-block: 10px;
    font-size: 22px;
    color: rgb(85, 78, 78);
    transition: all 1.5s;
    font-weight: bold;
}

li:hover{
    color: #663399;
    
}

img{
    background-attachment: fixed;
    height: 100px;
    
}
#contenedor_servicios{
    width: auto;
    /* align-items: end; */
    height: auto;
    background: rgb(207, 207, 207);
    margin-left: 35.5%;
    border-radius: 10px;
    /* margin-right: 58%; */
    /* display: flex; */
}
button{
    text-decoration: none;
    color: black;
    background: #efefef;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-family: serif;
    cursor: pointer;
}
button:hover{
    color: #663399;
}
#borrar{
    position: absolute;
    left: 48.7%;
    top: auto;
}
#fechaHora:hover{
    color: #663399;
}

#btnCerrarSesion{
    position: absolute;
margin-left: auto;
margin-left: -191px;
margin-top: 25px;
}

.btn btn-secondary btn-sm{
margin-left: 20px;}

#servicios-container{
    margin-left: 37%;
}
#servicios-guardados-container{
margin-left: 33%;}
#formularioSeleccionServicio{
border: #663399;
}

/* estilos para el checkbox de los servivios*/
.chulo {
    cursor: pointer;
    background-color: #ffffff;
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
      width: 15px;
      height: 15px;
      appearance: none;
      border: 2px solid #888;
      background-position: 0 -2rem;
      background-size: 100%;
      background-repeat: no-repeat;
      transition: all 0.3s ease-in-out;
}

.chulo:checked{
    background-color: rgb(75, 156, 13);
      color: rgb(75, 156, 13);
      background-position: 0 0;
}